*{
  margin: 0;
  padding: 0;
  color: var(--text)
}

:root{
  --button-back: #323639;
  --butt-text:#e4f0fb;
  
  --text: #e4f0fb;
  
  --back0: #474d52;
  --back1: #323639;
  --back2: #242424;
}

@media (prefers-color-scheme: light) {
  :root{
    /* FILL IN FOR LIGHT THEME */
  }
}

body{
  height: 100vh;
  width: 100vw;
  
  display: grid;
  grid-template-rows: 1fr 9fr;
  

}

#top{
  display: grid;
  grid-template-rows: 1fr 3fr;
}
#top-title{
  height: 100%;
}

#top-bar{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
}




/* General CSS */
[contenteditable]:focus {
    outline: 0px solid transparent;
}

/* CSS on top Nav */
button.topButtons{
  background-color: var(--button-back);
  color: var(--butt-text);
  border: 0px;
}
button.topButtons:hover{
  --button-back: #2b2e30;
}
button.topButtons:active{
  --butt-text: #fff;
  --button-back: #000;
}

#top{
  background-color: var(--back1);
  align-items: center;
}

#top-title{
  text-align:center; 
  background-color: var(--back0);
}


/* CSS on outline area */
#outline{
  background-color: var(--back2);
}

.oText{
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}

ul{
  margin-left: 2em; 
}

/* .oText:empty::before{
  content:"BRUHBRUHBRUHBRUH"
  color:grey;
} */

[data-indent ="1"]{margin-left: 3vw; font-size: 150%;}
[data-indent ="2"]{margin-left: 6vw; font-size: 140%;}
[data-indent ="3"]{margin-left: 9vw; font-size: 130%;}
[data-indent ="4"]{margin-left: 12vw; font-size: 120%;}
[data-indent ="5"]{margin-left: 15vw; font-size: 110%;}
[data-indent ="6"]{margin-left: 18vw; font-size: 100%;}
[data-indent ="7"]{margin-left: 21vw; font-size: 100%;}
[data-indent ="8"]{margin-left: 24vw; font-size: 100%;}
[data-indent ="9"]{margin-left: 27vw; font-size: 100%;}